{% extends 'base_page.html.twig' %}

{% block body_content %}
	{# tabla que muestra todos los cursos #}
	<h1>Cursos Creados</h1>
	<table class = "table table-striped table-hover">
		<thead>
			<tr>
				<th>Curso</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for curso in cursosAsignados %}
			<tr>
			
				<td> {{ curso.nombreCurso }} - {{curso.carreras}} - {{curso.sede}} </td>
				<td> 
					<a class= "btn btn-default btn-xs btn-danger" href="{{ path('estudiantes_por_curso', { 'curso_slug':curso.slug}) }}">
						Ver estudiantes asignados a este curso.
					</a>
				</td>
				
			</tr>	
			{% endfor %}
		</tbody>
	</table>

	<a class= "btn btn-default btn-sm btn-warning" href="{{ path('buscar_cursos') }}">
		<h4>Asignar nuevo Curso</h4>
	</a>

{% endblock %}
