<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title  %}Learn-In!{% endblock %}</title>
         
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/minimalMenu.css')}}">
        <link rel="stylesheet" href="{{ asset('css/animate.css')}}">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('css/lobster.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2-bootstrap.min.css')}}">
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1,se-1.1.2/datatables.min.css"/>


        <link rel="stylesheet" type="text/css" href="{{ asset('css/dropzone.min.css')}}">
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>

    
      
      
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block manual_style %}
        {% endblock manual_style %}

        </head>
        <body>
            {# sub menu para entrar a los sitios administrativos#}
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                {% include 'menu/minimal.html.twig' %}
                
            {% endif %} 

            

            {% block body %}{% endblock %}

          

            <script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>  
            <script src="{{ asset('js/select2.min.js')}}"></script>
            <script src="{{ asset('js/jquery.appear.js') }}"></script>
            <script src="{{ asset('js/contact_me.js') }}"></script>
            <script src="{{ asset('js/modernizr.custom.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
         <script type="text/javascript" src="https://cdn.datatables.net/t/zf/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1,se-1.1.2/datatables.min.js"></script>

            <script src="{{ asset('js/dropzone.min.js')}}"></script>
            <script src="{{ asset('js/dropzone-amd-module.min.js')}}"></script>
           
               
            <script src="{{ asset('js/minimalMenu.js')}}"></script> 
               
               
                <script type="text/javascript">
                    $('select').select2();
                </script>
                <script>
                    $('table').dataTable( {
                            autoFill: true,
                             colReorder: true,
                             dom: 'Bfrtip',
                            buttons: [
                            {
                                extend: 'copy',
                                text: 'copiar',
                                className: 'btn btn-default btn-xs'
                            },
                           {
                                extend: 'csv',
                                text: 'csv',
                                className: 'btn btn-default btn-xs'
                            },
                            {
                                extend: 'excel',
                                text: 'excel',
                                className: 'btn btn-default btn-xs'
                            },
                            {
                                extend: 'pdf',
                                text: 'pdf',
                                className: 'btn btn-default btn-xs'
                            },
                            {
                                extend: 'print',
                                text: 'imprimir',
                                className: 'btn btn-default btn-xs'
                            },
                            
                            ],
                            "language": {
                                "url": "{{ asset('Json/Spanish.json')}}"
                            }
                        } );
                </script>
                <script>
                     $('.navbar-toggler').on('click', function(event) {
                        event.preventDefault();
                        $(this).closest('.navbar-minimal').toggleClass('open');
                    });
                </script>
               
            {% block javascripts %}{% endblock %}
            
            {# </div> #}
        </body>
        {% include 'default/analytics.html.twig' %}
</html>
