<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title  %}Learn-In!{% endblock %}</title>
         
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/minimalMenu.css')}}">
        <link rel="stylesheet" href="{{ asset('css/animate.css')}}">
        <link rel="stylesheet" href="{{ asset('css/style.css')}}">
        <link rel="stylesheet" href="{{ asset('css/lobster.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2-bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
      
       
        
       
        
        <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>

    
        <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
      
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block manual_style %}
        {% endblock manual_style %}

        </head>
        <body>
            {# sub menu para entrar a los sitios administrativos#}
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                {% include 'menu/minimal.html.twig' %}
                
            {% endif %} 

            

            {% block body %}{% endblock %}

          

            <script src="{{ asset('bootstrap/js/bootstrap.js')}}"></script>  
            <script src="{{ asset('js/select2.min.js')}}"></script>
            <script src="{{ asset('js/jquery.appear.js') }}"></script>
            <script src="{{ asset('js/contact_me.js') }}"></script>
            <script src="{{ asset('js/modernizr.custom.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
           
               
            <script src="{{ asset('js/minimalMenu.js')}}"></script> 
               
               
                <script type="text/javascript">
                    $('select').select2({
                    theme: "bootstrap"
                });
                </script>
                        <script>
                    $('table').dataTable( {
                            "language": {
                                "url": "{{ asset('json/Spanish.json')}}"
                            }
                        } );
                </script>
                <script>
                     $('.navbar-toggler').on('click', function(event) {
                        event.preventDefault();
                        $(this).closest('.navbar-minimal').toggleClass('open');
                    });
                </script>
               
            {% block javascripts %}{% endblock %}
            
            {# </div> #}
        </body>
        {% include 'default/analytics.html.twig' %}
</html>
