{% extends 'base_page.html.twig' %}

{% block body_content %}
    <h1>Actividades del curso {{curso.nombreCurso}}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre actividad</th>
                <th>Fecha publicación</th>
                <th>Fecha expiración</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.nombreActividad }}</td>
                <td>{% if actividad.fechaPublicacion %}{{ actividad.fechaPublicacion|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>{% if actividad.fechaExpiracion %}{{ actividad.fechaExpiracion|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                           
                            <a class = "btn btn-info" href="{{ path('listar_documentos_catedratico', { 'actividad_id': actividad.id }) }}">Ver documentos subidos</a>
                           
                        </li>
                      
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     <a class = "btn btn-warning btn-lg" href="{{ path('tareas_cursos_show') }}">Regresar</a>
    
{% endblock %}
