 <!-- Modal para Curso -->
<div class="modal fade" id="modalCursos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cursos</h4>
      </div>
      <div class="modal-body">
      {% if app.user %}
         {% if is_granted('ROLE_CATEDRATICO') %}
            <a href="{{ path('buscar_cursos') }}" class="btn btn-warning">
              <h1 style="color: white ">Asignarse a curso</h1>
            </a>
            <br>
            <br>
            <a href="{{ path('curso_new') }}" class="btn btn-warning">
              <h1 style="color: white ">Crear Nuevo Curso</h1>
            </a>

          {% else %}  
          <a href="{{ path('buscar_cursos') }}" class="btn btn-warning">
              <h1 style="color: white ">Asignar Nuevo Curso</h1>
          </a>
        {% endif %}
        {% endif %}
        <br>
        <br>
        {% if app.user %}
          {% if is_granted('ROLE_CATEDRATICO') %}
          <a href="{{ path('listar_cursos_catedratico') }}" class="btn btn-info">
             <h1 style="color: white "> Ver Cursos Creados</h1>
          </a>
          {% else %}
           <a href="{{ path('listar_cursos') }}" class="btn btn-info">
             <h1 style="color: white "> Ver Cursos Asignados</h1>
          </a>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
