{% extends 'base_page.html.twig' %}

{% block body_content %}
    <h1>Listado de mis actividades</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                <th>Nombre Actividad</th>
                <th>Curso</th>
                <th>Fecha publicación</th>
                <th>Fecha expiración</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for actividad in actividades %}
            <tr>
                <td>{{ actividad.nombreActividad }}</td>
                <td>{{ actividad.curso}} </td>
                <td>{% if actividad.fechaPublicacion %}{{ actividad.fechaPublicacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if actividad.fechaExpiracion %}{{ actividad.fechaExpiracion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info btn-xs" href="{{ path('actividad_show', { 'id': actividad.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a class = "btn btn-xs btn-warning" href="{{ path('actividad_edit', { 'id': actividad.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-block btn-default" href="{{ path('actividad_new') }}">Crear nueva actividad</a>
        </li>
    </ul>
{% endblock %}
