{% extends 'base_page.html.twig' %}

{% block manual_style %}
    {{ form_stylesheet(form) }}
{% endblock %}

{% block js %}
     {{ form_javascript(form) }}
{% endblock %}

{% block body_content -%}
    <h1>Nueva Actividad</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

   
{% endblock %}
