{% extends 'base_page.html.twig' %}

{% block body_title %} <h1>Crear Nuevo Curso</h1> {% endblock %}
{% block body_content -%}

    {{ form_start(form)}}
	{{ form_row(form.nombreCurso)}}
	{{ form_row(form.sede)}}
	{{ form_row(form.carreras)}}
	{{ form_row(form.periodo)}}
    
   {% form_theme form _self %}

    {% block _appbundle_curso_year %}
        <div class="form-inline">
            
             {{ form_row(form.year) }}
         </div>
       
    {% endblock %}

    <br>
    <br>
    
    {{form_row(form.submit)}}


    {{ form_end(form)}}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('curso') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock body_content %}
