{% extends 'base_page.html.twig' %}

{% block body_content %}
    <h1>Listado de horarios</h1>

    <table>
        <thead>
            <tr>
                <th>Día</th>
                <th>Hora Inicio</th>
                <th>Hora Final</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td>{{ horario.dia }}</td>
                <td>{% if horario.horaInicio %}{{ horario.horaInicio|date('H:i:s') }}{% endif %}</td>
                <td>{% if horario.horaFinal %}{{ horario.horaFinal|date(' H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'id': horario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'id': horario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
