{% extends 'base_page.html.twig' %}

{% block body_content %}
    <h1>Crear horario</h1>

    {{ form_start(form) }}
       {{ form_row(form.dia) }}
      
        {% form_theme form _self %}

        {% block _appbundle_horario_inicio %}
            <div class="form-inline">
                
                 {{ form_row(form.horaInicio) }}
             </div>
           
        {% endblock %}

        {% block _appbundle_horario_final %}
            <div class="form-inline">
                
                {{ form_row(form.horaFinal) }}
             </div>
           
        {% endblock %}
      
        <input class="btn btn-primary btn-block" type="submit" value="Guardar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('horario_index') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
